header{
    background-color: #222222;
}
nav{
background-color: white;
}
li {
    list-style-type: none;
}
.servises{
    background-color: #222224;
    color: #FBFBFB;
    display: flex;
    justify-content: center;

}
.servises ul{
    text-align: center;
    display: flex;
    justify-content: center;
}
.servises h2{
    display: none;
}