.featured {
    margin: 96px 0 0 0;
    text-align: center;

    @include tablet {
        margin: 156px 0 0 0;
    }

    @include mobile {
        margin: 64px 0 0 0;
    }


    &__title {
        @include font(30px, 400, 36px);
    }

    &__text {
        @include font(14px, 400, 17px);
        color: $grey;
        margin: 6px 0 18px 0;

        @include tablet {
            margin: 6px 0 56px 0;
        }

        @include mobile {
            margin: 6px 0 47px 0;
        }
    }

    &__list {
        @include flex();
        flex-wrap: wrap;

        @include desctop-mini {
            justify-content: space-around;
        }
    }

    &__item {
        margin: 30px 0 0 0;
        background-color: $light-grey;
        max-width: 360px;
        text-align: left;
        position: relative;

        @include tablet {
            margin: 17px 0 0 0;
        }

        @include mobile {
            max-width: 360px;
        }

        &-hover-visible:hover &-img {
            filter: brightness(30%);
        }

        &-img {
            @include mobile {
                width: 100%;
                height: auto;
            }
        }

        &-hover-visible:hover &-add {
            visibility: visible;
        }

        &-name {
            @include font(13px, 400, 16px);
            text-transform: uppercase;
            margin: 24px 0 13px 18px;
        }

        &-text {
            @include font(14px, 300, 17px);
            color: $item-text;
            margin: 0 0 0 18px;
        }

        &-price {
            @include font(16px, 400, 19px);
            color: $pink;
            margin: 18px 0 20px 18px;
        }

        &-add {
            @include flex(none);
            @include font(16px, 400, 19px);
            border: 1px solid $white;
            background-color: transparent;
            position: absolute;
            left: 50%;
            top: 189px;
            transform: translateX(-50%);
            color: $white;
            visibility: hidden;
            cursor: pointer;
            outline: none;
        }

        &-add-img {
            margin: 10px 0px 8px 11px;
            fill: $white;
        }

        &-add-text {
            margin: 13px 13px 13px 11px;
        }
    }

    &__goods-link {
        @include font(16px, 400, 19px);
        display: inline-block;
        color: $pink;
        background-color: $white;
        padding: 14px 39px;
        margin: 48px 0 95px 0;
        text-decoration: none;
        border: 1px solid $pink;

        @include tablet {
            margin: 32px 0 65px 0;
        }

        @include mobile {
            margin: 41px 0 96px 0;
        }

        &:hover {
            color: $white;
            background-color: $pink;
        }
    }
}