.social {
    background-color: $dark;

    &__align {
        @include flex();
    }

    &__copyright {
        @include font(16px,400,19px);
        color: $white;
        margin: 30px 0 0 0;
        padding: 0 0 30px 0;
    }

    &__list {
        @include flex();
        margin: 24px 0 0 0;
    }

    &__item {
        margin: 0 0 0 7px;

        &-svg-back {
            fill: $white;
        }
    
        &-svg-logo {
            fill: $dark;
        }
    
        &-svg:hover &-svg-back {
            fill: $pink;
        }
    
        &-svg:hover &-svg-logo {
            fill: $white;
        }
    }
}